{% load staticfiles %}
<!doctype html>
<html>
{% include "head.html" %}
<body>
    {% include "top_bar_plain.html" %}
<div class="container">

<div class="col-md-4 col-md-offset-4">


  <div class="padded">
    <div class="login box" style="margin-top: 80px;">

      <div class="box-header">
        <span class="title">Logged Out</span>
      </div>

      <div class="box-content padded">
        {{ message }}

        <div>
          <a href="/users/login">
              Didn't mean to logout? <strong>Login</strong>
          </a>
        </div>
      </div>

    </div>


  </div>
</div>
</div>

</body>
</html>
