<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tiberius.tiberius" >

    <!-- User Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >

        <!-- Start up activity -->
        <activity
            android:name=".Start"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Autonomy activity -->
        <activity
            android:name=".Autonomy"
            android:configChanges="fontScale"
            android:label="@string/title_activity_autonomy"
            android:screenOrientation="landscape" >
        </activity>

        <!-- Manual activity -->
        <activity
            android:name=".Manual"
            android:label="@string/title_activity_manual"
            android:screenOrientation="landscape" >
        </activity>

        <!-- Settings activity -->
        <activity
            android:name=".SettingsMenu"
            android:label="@string/title_activity_settings_menu"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Main Menu activity -->
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="landscape" >
        </activity>

        <!-- Database activity -->
        <activity
            android:name=".Database"
            android:label="@string/title_activity_database"
            android:screenOrientation="landscape" >
        </activity>

        <!-- Mission Selection activity -->
        <activity
            android:name=".MissionSelection"
            android:label="@string/title_activity_mission_selection"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Choose Destination activity -->
        <activity
            android:name=".ChooseDestination"
            android:label="@string/title_activity_choose_destination"
            android:screenOrientation="landscape" >
        </activity>


        <!-- Add Google Play APis (use Google Maps) -->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBydTYsavlOduEN29JWpWsAsOFoPSXQW3U"/>

    </application>

</manifest>
