{% load staticfiles %}
<!-- begin sidebar scrollbar -->
<div data-scrollbar="true" data-height="100%">
  <!-- begin sidebar user -->
  <ul class="nav">
    <li class="nav-profile">
      <div class="image">
        <a href="javascript:;"><img src="{% static 'color-admin/img/user-1.jpg' %}" alt="" /></a>
      </div>
      <div class="info">
        Sean Ngu
        <small>Front end developer</small>
      </div>
    </li>
  </ul>
  <!-- end sidebar user -->
  <!-- begin sidebar nav -->
  <ul class="nav">
    <li class="nav-header">Navigation</li>

    <li><a href="/"><i class="fa fa-laptop"></i> <span>Dashboard</span></a></li>

    <li class="has-sub">
        <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="fa fa-map-marker"></i>
            <span>Mission Planner</span>
        </a>
      <ul class="sub-menu">
        <li><a href="/missionplanner/create">New Mission</a></li>
        <li><a href="/missionplanner">Manage Missions</a></li>
        <li><a href="/missionplanner/manage_tasks">Manage Tasks</a></li>
      </ul>
    </li>

    <li><a href="/control"><i class="fa fa-keyboard-o"></i> <span>Manual Control</span></a></li>
    <li><a href="/fleet"><i class="fa fa-automobile"></i> <span>Fleet</span></a></li>

        <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
        <!-- end sidebar minify button -->
  </ul>
  <!-- end sidebar nav -->
</div>
<!-- end sidebar scrollbar -->
