{% load staticfiles %}
<!-- begin container-fluid -->
<div class="container-fluid">
  <!-- begin mobile sidebar expand / collapse button -->
  <div class="navbar-header">
    <a href="/" class="navbar-brand"><span class="navbar-logo"></span> Tiberius Web Interface</a>
    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- end mobile sidebar expand / collapse button -->

  <!-- begin header navigation right -->

  <!-- end header navigation right -->
</div>
<!-- end container-fluid -->
