{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	{% include "head.html" %}
	<link href="{% static 'color-admin/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
	<script src="{% static 'color-admin/plugins/pace/pace.min.js' %}"></script>
	<link href="{% static 'color-admin/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
	<link href="{% static 'color-admin/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
	<title>Create Mission</title>
</head>
<body>

	<!-- begin #page-loader -->
	<div id="page-loader" class="fade"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade in page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			{% include "top_bar_populated.html" %}
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			{% include "sidebar.html" %}
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->
		<!-- begin #content -->
				<div id="content" class="content">
					<!-- begin breadcrumb -->
					<ol class="breadcrumb pull-right">
						<li><a href="/">Home</a></li>
						<li><a href="/missionplanner">Mission Planner</a></li>
						<li class="/missionplanner/create">Create</li>
					</ol>
					<!-- end breadcrumb -->
					<!-- begin page-header -->
					<h1 class="page-header">Mission Creation Wizard <small>developed by Gryffindor web dev society </small></h1>
					<!-- end page-header -->

					<!-- begin row -->
					<div class="row">
		                <!-- begin col-12 -->
					    <div class="col-md-12">
					        <!-- begin panel -->
		                    <div class="panel panel-inverse">
		                        <div class="panel-heading">
		                            <div class="panel-heading-btn">
		                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
		                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
		                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
		                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
		                            </div>
		                            <h4 class="panel-title">Form Wizards</h4>
		                        </div>
		                        <div class="panel-body">
		                            <form action="create" method="POST">
																	{% csrf_token %}
										<div id="wizard">
											<ol>
												<li>
												    Basic Details
												    <small>Give the mission a name and description.</small>
												</li>
												<li>
												    Platforms
												    <small>Decide what platforms the mission should support. This will limit the task selection.</small>
												</li>
												<li>
												    Schedule Settings
												    <small>Schedule the mission for a automatic start. Set recurrance settings.</small>
												</li>
												<li>
												    Completed
												    <small>The mission is ready to be plotted.</small>
												</li>
											</ol>
											<!-- begin wizard step-1 -->
											<div>
		                                        <fieldset>
		                                            <legend class="pull-left width-full">Basic Details</legend>
		                                            <!-- begin row -->
		                                            <div class="row">
		                                                <!-- begin col-4 -->
		                                                <div class="col-md-4">
															<div class="form-group">
																<label>Mission Name</label>
																{{ form.name }}
																{{ form.name.errors }}
															</div>
		                                                </div>
		                                                <!-- end col-4 -->
		                                                <!-- begin col-4 -->
		                                                <div class="col-md-4">
															<div class="form-group">
																<label>Mission Description</label>
																{{ form.description }}
																{{ form.description.errors }}
															</div>
		                                                </div>
		                                                <!-- end col-4 -->
		                                            </div>
		                                            <!-- end row -->
												</fieldset>
											</div>
											<!-- end wizard step-1 -->
											<!-- begin wizard step-2 -->
											<div>
												<fieldset>
													<legend class="pull-left width-full">Platforms</legend>
		                                            <!-- begin row -->
		                                            <div class="row">
		                                                <!-- begin col-6 -->
		                                                <div class="col-md-6">
															<div class="form-group">
																<label>Supported Platforms</label>
																{{ form.supported_platforms }}
																{{ form.supported_platforms.errors }}
															</div>
		                                                </div>
		                                                <!-- end col-6 -->

		                                            </div>
		                                            <!-- end row -->
												</fieldset>
											</div>
											<!-- end wizard step-2 -->
											<!-- begin wizard step-3 -->
											<div>
												<fieldset>
													<legend class="pull-left width-full">Schedule Settings</legend>
		                                            <!-- begin row -->
		                                            <div class="row">
		                                                <!-- begin col-4 -->
		                                                <div class="col-md-4">
		                                                    <div class="form-group">
		                                                        <label>Scheduled Start Time</label>
		                                                        <div class="controls">
		                                                            {{ form.scheduled_start }}
																																{{ form.scheduled_start.errors }}
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                <!-- end col-4 -->

		                                            </div>
		                                            <!-- end row -->
		                                        </fieldset>
											</div>
											<!-- end wizard step-3 -->
											<!-- begin wizard step-4 -->
											<div>
											    <div class="jumbotron m-b-0 text-center">
		                                            <h1>Configuration is Complete</h1>
		                                            <p>The mission is now ready to be plotted on the map. Proceed to the next step when you are ready.</p>
		                                            <p><input type="submit" value="Proceed to Task Plotting" class="btn btn-success btn-lg"></p>
		                                        </div>
											</div>
											<!-- end wizard step-4 -->
										</div>
									</form>
		                        </div>
		                    </div>
		                    <!-- end panel -->
		                </div>
		                <!-- end col-12 -->
		            </div>
		            <!-- end row -->
				</div>
				<!-- end #content -->

    <!-- begin theme-panel -->
    <div class="theme-panel">
        {% include "theme_panel.html" %}
    </div>
    <!-- end theme-panel -->

<!-- begin scroll to top btn -->
<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
<!-- end scroll to top btn -->
</div>
<!-- end page container -->

{% include "script.html" %}
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'color-admin/plugins/gritter/js/jquery.gritter.js' %}"></script>
	<script src="{% static 'color-admin/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
	<script src="{% static 'color-admin/plugins/select2/dist/js/select2.min.js' %}"></script>
	<script src="{% static 'color-admin/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'color-admin/js/form-plugins.demo.min.js' %}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script src="{% static 'color-admin/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
<script src="{% static 'color-admin/js/form-wizards.demo.min.js' %}"></script>
<script src="{% static 'color-admin/js/apps.min.js' %}"></script>

<script>
$(document).ready(function() {
  App.init();
  FormWizard.init();
	FormPlugins.init();
});
</script>

{% if messages %}
<script>
	$(document).ready(function() {
		    {% for message in messages %}
					image = '{% static 'tiberius/img/fa-warning_64_0_ff0000_none.png' %}';
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
						level= "Error";
					{% else %}
						level = "Message";
					{% endif %}
					$.gritter.add({
						title: level,
						text: '{{ message}}',
						image: image,
						sticky: false,
						time: ''
					});
	    {% endfor %}
	});
</script>
{% endif %}
</body>
</html>
