{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Mission Plotting</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	{% include "head.html" %}
	<link href="{% static 'color-admin/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet"/>
	<link href="{% static 'tiberius/css/lib.css' %}" rel="stylesheet"/>
	<link href="{% static 'color-admin/plugins/jstree/dist/themes/default/style.min.css' %}" rel="stylesheet" />
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'color-admin/plugins/pace/pace.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			{% include "top_bar_populated.html" %}
		</div>

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
				{% include "sidebar.html" %}
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<!-- begin #content -->
		<div id="content" class="content content-full-width">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="javascript:;">Map</a></li>
				<li class="active">Google Map</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Google Map <small>header small text goes here...</small></h1>
			<!-- end page-header -->
						<div class="row"> <!-- Contains panel on left and map on right-->
							<div class="col-md-3"> <!-- start of left panel -->
								<div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Mission Tree</h4>
                        </div>
                      <div class="panel-body">
												<div id="jstree-waypoints">
													<ul>
														<li id = "tree-top-level" data-jstree='{ "opened" : true ,"icon": "fa fa-map"}}'>Waypoints</li>
													</ul>
												</div>
											</div>
                  </div>
							</div> <!-- end of left panel -->
							<div class="col-md-6"> <!-- start of map panel -->
								<div class="panel panel-inverse">
										<div class="panel-heading">
												<div class="panel-heading-btn">
														<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
														<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
														<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
														<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
												</div>
												<h4 class="panel-title">Map</h4>
										</div>

										<div class="panel-body no-padding">
								      <div id="google-map-default" class="height-sm width-full"></div>
											<div class="map-content">
													<div class="btn-group map-btn pull-right">
															<form id ="form-submit" action = "/missionplanner/plotting/{{ mission_id }}/" method="POST">
																{% csrf_token %}
																<input id="input-waypoints" type="hidden" name="waypoints" value="" />
																	<input type="hidden" name="mission_id" value="{{mission_id}}" />
																	<input style="margin-right:1em;" class="btn btn-sm btn-inverse" id="btn-submit" type="submit" value="Save Plot">
															</form>
													</div>
											</div>
									</div> <!-- end of panel body-->
							</div> <!-- end of map panel -->
							<div class="panel panel-inverse">
									<div class="panel-heading">
											<div class="panel-heading-btn">
													<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
													<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
													<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
													<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
											</div>
											<h4 class="panel-title">Map</h4>
									</div>

									<div class="panel-body no-padding">

										<div class="map-content">
												<div class="btn-group map-btn pull-right">
														<button type="button" class="btn btn-sm btn-inverse" id="map-theme-text">Default Theme</button>
														<button type="button" class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
																<span class="caret"></span>
														</button>
														<ul class="dropdown-menu" id="map-theme-selection">
																<li class="active"><a href="javascript:;" data-map-theme="default">Default</a></li>
																<li><a href="javascript:;" data-map-theme="flat">Flat</a></li>
																<li><a href="javascript:;" data-map-theme="turquoise-water">Turquoise Water</a></li>
																<li><a href="javascript:;" data-map-theme="icy-blue">Icy Blue</a></li>
																<li><a href="javascript:;" data-map-theme="cobalt">Cobalt</a></li>
																<li><a href="javascript:;" data-map-theme="old-dry-mud">Old Dry Mud</a></li>
																<li><a href="javascript:;" data-map-theme="dark-red">Dark Red</a></li>
														</ul>
												</div>

												<div class="btn-group map-btn pull-right">
														<form id ="form-submit" action = "/missionplanner/plotting/{{ mission_id }}/" method="POST">
															{% csrf_token %}
															<input id="input-waypoints" type="hidden" name="waypoints" value="" />
																<input type="hidden" name="mission_id" value="{{mission_id}}" />
																<input style="margin-right:1em;" class="btn btn-sm btn-inverse" id="btn-submit" type="submit" value="Save Plot">
														</form>
												</div>
										</div>
								</div> <!-- end of panel body-->
						</div> <!-- end of map panel -->
						</div> <!-- end of the row for map and panel-->
		</div>
		<!-- end #content -->

        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

{% include "script.html" %}

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkFor-_BtfyOvNRxfqbNJdacVzIpQTw0Y"></script>
	<script src="{% static 'tiberius/js/charify.js' %}"></script>
	<script src="{% static 'color-admin/plugins/jstree/dist/jstree.min.js' %}"></script>
	<script src="{% static 'tiberius/js/plotting-jstree.js' %}"></script>
	<script src="{% static 'tiberius/js/plotting-map-google.js' %}"></script>
	<script src="{% static 'color-admin/js/apps.min.js' %}"></script>

	<!-- ================== END PAGE LEVEL JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
			TreeView.init();
			PlottingGoogleMap.init({{ mission_id }}, {{ json_tasks }});
		});
	</script>
	{% include "messages.html" %}
</body>
</html>
